<tr>
  <td>
    <strong><%= item.name %></strong> <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %> left to complete.
  </td>


  <td>
    <%= link_to "Done!", "#", class: 'btn btn-success' %>
  </td>
</tr>
